body {
	background-color: #cca300;
}
.comments {
	padding: 30px;
	padding-top: 250px;
	background-color: #0f2133;
	margin: 10 auto 0;
	border-radius: 8px;
	width: 50%;
	border: solid #0f2133;
	height: auto;
	position: relative;
}
.comments h2 {
	color: white;
}
.comments h5 {
	color: black;
	border-radius: 8px;
	background-color: #cca300;
	width: auto;
	height: auto;
	padding: 10px;
	margin: 20px;
}
.com {
	position: absolute;
	top: 20px;
	left: 0;
	background-color: #0f2133;
	width: 600px;
	height: 170px;
	padding: 25px;
}
.com textarea {
	background-color: #343c56;
	border-radius: 8px;
	border: solid 2px #5e597997;
	width: 620px;
	color: white;
}
.com button {
	background-color: #cca300;
	padding: 5px;
	margin: 5px;
	border-color: gold;
	border-radius: 6px;
	cursor: pointer;
}
